body {
  margin: 0;
  position: absolute;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  display: grid;
  grid-template: repeat(4, auto) / repeat(9, auto);
  grid-gap: 2rem 2rem;
  padding: 2rem;
}

.hexagon {
  --clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: black;
  clip-path: var(--clip-path);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hexagon::after {
  content: "";
  width: 95%;
  height: 95%;
  background-color: var(--hexagon-color);
  clip-path: var(--clip-path);
}

.type-vector {
  position: absolute;
  inset: 50%;
  translate: -50% -50%;
  aspect-ratio: 1 / 1;
  width: 70%;
  z-index: 1;
  border-radius: 50%;
}
